{% extends 'base.html' %}

{% block content %}
<div class="col-md-5 mt-5">
	<!-- Default form login -->
	{% if messages %}
		    {% for message in messages %}
		    <div {% if message.tags %} class="alert alert-{{ message.tags }}" {% endif %}>{{ message }}</div>
		    {% endfor %}
	{% endif %}
    <form class="text-center border border-light p-5" action="{% url 'login' %}" method="¨POST">
    	{% csrf_token %}

        <p class="h4 mb-4">Connexion</p>

        <!-- Email -->
        <input type="text" id="loginEmail" class="form-control mb-4" placeholder="E-mail ou Nom d'utilisateur" name="login">

        <!-- Password -->
        <input type="password" id="loginPassword" class="form-control mb-4" placeholder="Mot de passe" name="password">

        <!-- Sign in button -->
        <button class="btn btn-info btn-block my-4" formmethod="post" type="submit">Valider</button>

        <!-- Register -->
        <p>
            <a href="{% url 'register' %}">Inscription</a>
        </p>

    </form>
    <!-- Default form login -->
		
	</div>
{% endblock %}